
@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("Inter/Inter-VariableFont_slnt,wght.ttf")
        format("opentype"), url("trickster-outline.woff") format("woff");
  }



.wrapper{
    display: flex;
    flex-direction: column;
   position: relative;
   margin:auto;
    background: #1F2937;
    width: 550px;
  height: 729px;
    align-items: center;
    font-family: 'Inter';
font-style: normal;
font-weight: 800;
line-height: 38px;
/* identical to box height, or 136% */

text-align: center;
letter-spacing: -0.03em;
border-radius: 10px;
color: #FFFFFF;
box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6943FF;
    flex-shrink: 0;
    width: 100%;
    height: 285px;
    margin-bottom: 23px;
    border-radius:10px 10px 0px 0px ;
 
}

h1{
    font-size: 28px;
    line-height: 38px;
    margin-bottom:5px;
    margin-top: 33px;
   
}

h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */
    margin-top: 31px;
    text-align: center;
    
    color: #CCC1FF;
}

/* main{
    background: #1F2937;
 
    display: flex;
    flex-direction: column;
    align-items: center;

} */

.units{
    background: #273549;
;
margin:13px 25px;
    width: 500px;
    height: 108.5px;
    border-radius: 5px 0px 0px 0px;
  

}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    
    color: #FFFFFF; 
}

input{
    width: 117px;
    height: 77px;
    font-weight: 800;
font-size: 58px;
line-height: 24px;
/* or 42% */
background-color: #6943FF;
text-align: center;
margin:25px;
color: #FFFFFF;
border-color: #B295FF;
border-style: solid;
border-radius: 5px;
}

button{
    width: 117px;
    height: 42px;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
margin-bottom: 34px;
border-radius: 5px;
border-style: solid;
color: #3D3D3D;
background: #fff;
letter-spacing: 0.1em;

}